.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button {
    margin-top: 15px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 5px;
}

.grid__empty .box {
    cursor: pointer;
}

.box {
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-of-solution {
    background-color: lightgrey;
}

.next-option {
    background-color: lightgreen;
    cursor: pointer;
}

.current-box {
    background-color: greenyellow;
}

.game-over .box.current-box {
    background-color: orangered;
}

.game-finished .box {
    background-color: lightgreen;
}

.box,
.disabled,
.replaying-game {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.game-over .box.current-box,
.disabled {
    cursor: default;
    pointer-events: none;
}

.btn {
    @apply inline-block px-6 py-2.5 text-black font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out;
}

.btn-blue {
    @apply bg-blue-600 hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800 text-white;
}

.btn-green {
    @apply bg-green-600 hover:bg-green-700 focus:bg-green-700 active:bg-green-800 text-white;
}
