.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container button {
    margin-top: 15px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 5px;
}

.grid__empty .box {
    cursor: pointer;
}

.box {
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-of-solution {
    background-color: lightgrey;
}

.next-option {
    background-color: lightgreen;
    cursor: pointer;
}

.current-box {
    background-color: greenyellow;
}

.game-over .box.current-box {
    background-color: orangered;
}

.game-finished .box {
    background-color: lightgreen;
}

.box,
.disabled,
.replaying-game {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.game-over .box.current-box,
.game-finished .box,
.disabled {
    cursor: default;
    pointer-events: none;
}
